.navigation {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .scene-nav {
    position: absolute;
    bottom: 80px;
    left: 20px;
    pointer-events: all;

    button {
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      outline: none;
      border: none;
      color: white;
      font-family: $montserrat;
      font-size: 0.9rem;
      background-color: rgba($color: #272727, $alpha: 0.8);
      padding: 10px 15px;
      border-radius: 10px;
      @include transition;

      &:hover {
        background-color: rgb(163, 90, 90);
      }
    }
  }

  .ui {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: transparent;
    top: 0;
    left: 0;

    .ui-desk {
      background-color: rgba($color: #272727, $alpha: 0.8);
      color: white;
      display: inline-block;
      position: absolute;
      left: 20px;
      bottom: 20px;
      padding: 12px 15px;
      border-radius: 12px;
      opacity: 1;

      .inner {
        display: flex;
        align-items: center;

        svg {
          display: inline-block;
          margin-right: 10px;
          width: 20px;

          path {
            fill: white;
            stroke: none;
          }
        }

        p {
          display: inline-block;
          font-weight: 300;
          font-size: 0.9rem;
        }
      }
    }
  }

  .logo {
    position: absolute;
    width: 90px;
    top: 25px;
    left: 25px;
  }

  .links {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 20px;
    color: white;
    pointer-events: all;

    a {
      margin-right: 15px;

      &:hover {
        color: rgb(223, 187, 187);
      }
    }

    button {
      position: relative;
      top: -2px;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      font-family: $montserrat;
      font-size: 1rem;
      cursor: pointer;
      margin-right: 10px;
      @include transition;

      &:hover {
        color: rgb(223, 187, 187);
      }

      &:last-of-type {
        margin-right: 0;
        top: 0;
      }
    }

    .volume {
      width: 60px;
    }
  }
}
