* {
  outline: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  // cursor: grab;
}

.fps {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 50px;

  div {
    position: absolute !important;
  }
}

.element {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;

  p {
    margin-top: 10px;
    font-size: 20px;
  }
}

.scene,
.scene canvas {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

section {
  @include sides-margin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(186, 186, 186);
}

::-webkit-scrollbar-thumb:hover {
  background: $gray_3;
}
