// Colors
$gray_1: #f9f9f9;
$gray_2: #f1f1f1;
$gray_3: #6e6e6e;
$primary: #7b03f2;
$primary_light: #b400ff;
$error: #dc004e;

// Breakpoints
$desktop: 1450px;
$tablet-lg: 1200px;
$tablet-sm: 800px;
$mobile: 500px;

// Fonts
$montserrat: 'Montserrat', sans-serif;
